{% extends 'creative/base.html' %}
{% load static %}

{% block content %}


<div class="container" id="camp-header">
    <div class="col-lg-12">
        <h5>Active Campaigns</h5>

        <div>
            <button type="button" class="camp-btn">Newest</button>
            <button type="button" class="camp-btn">Top Payout</button>
        </div>
    </div>
</div>

<div class="container" id="campaing-pics">
    <div class="row">

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body card0">
                    <button class="top-btn">UGC</button>
                    <div class="camp-text">
                        <h4>AI Trading Bot Promotion</h4>
                        <span><i class="fa-brands fa-instagram"></i>  Instagram</span>
                        <p>$500 Payout</p>
                    </div>  
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body card1">
                    <button class="top-btn">UGC</button>
                    <div class="camp-text">
                        <h4>AI Sports Event App</h4>
                        <span><i class="fa-brands fa-instagram"></i>  Instagram <i class="fa-brands fa-twitter"></i> Twitter <i class="fa-brands fa-youtube"></i> Youtube <i class="fa-brands fa-facebook"></i> Facebook <i class="fa-brands fa-tiktok"></i> Tiktok</span>
                        <p>$400 Payout</p>
                    </div>  
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body card2">
                    <button class="top-btn">UGC</button>
                    <div class="camp-text">
                        <h4>AI Trading Bot Promotion</h4>
                        <span><i class="fa-brands fa-tiktok"></i> Tiktok</span>
                        <p>$250 Payout</p>
                    </div>  
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body card3">
                    <button class="top-btn">UGC</button>
                    <div class="camp-text">
                        <h4>DIY Plumbing Remodelling</h4>
                        <span><i class="fa-brands fa-instagram"></i> Instagram <i class="fa-brands fa-youtube"></i> Youtube <i class="fa-brands fa-facebook"></i> Facebook <i class="fa-brands fa-tiktok"></i> Tiktok</span>
                        <p>$200 Payout</p>
                    </div>  
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body card4">
                    <button class="top-btn">UGC</button>
                    <div class="camp-text">
                        <h4>Hair Growth Serum</h4>
                        <span><i class="fa-brands fa-instagram"></i> Instagram <i class="fa-brands fa-tiktok"></i> Tiktok</span>
                        <p>$200 Payout</p>
                    </div>  
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body card5">
                    <button class="top-btn">UGC</button>
                    <div class="camp-text">
                        <h4>Dog Pee Mat</h4>
                        <span><i class="fa-brands fa-instagram"></i> Instagram <i class="fa-brands fa-tiktok"></i> Tiktok</span>
                        <p>$150 Payout</p>
                    </div>  
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body card6">
                    <button class="top-btn">UGC</button>
                    <div class="camp-text">
                        <h4>Maternity Brand</h4>
                        <span><i class="fa-brands fa-instagram"></i> Instagram
                            <i class="fa-brands fa-facebook"></i> Facebook <i class="fa-brands fa-tiktok"></i> Tiktok</span>
                        <p>$150 Payout</p>
                    </div>  
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body card7">
                    <button class="top-btn">UGC</button>
                    <div class="camp-text">
                        <h4>New Mobile Party Game</h4>
                        <span><i class="fa-brands fa-instagram"></i> Instagram <i class="fa-brands fa-youtube"></i> Youtube <i class="fa-brands fa-tiktok"></i> Tiktok</span>
                        <p>$100 Payout</p>
                    </div>  
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body card8">
                    <button class="top-btn">UGC</button>
                    <div class="camp-text">
                        <h4>Car Auction Platform</h4>
                        <span><i class="fa-brands fa-instagram"></i> Instagram <i class="fa-brands fa-tiktok"></i> Tiktok</span>
                        <p>$100 Payout</p>
                    </div>  
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body card9">
                    <button class="top-btn">UGC</button>
                    <div class="camp-text">
                        <h4>Financial IOS App</h4>
                        <span><i class="fa-brands fa-instagram"></i> Instagram <i class="fa-brands fa-twitter"></i> Twitter<i class="fa-brands fa-tiktok"></i> Tiktok</span>
                        <p>$100 Payout</p>
                    </div>  
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body card10">
                    <button class="top-btn">UGC</button>
                    <div class="camp-text">
                        <h4>Promote Thecreativepr UGC</h4>
                        <span><i class="fa-brands fa-tiktok"></i> Tiktok</span>
                        <p>$100 Payout</p>
                    </div>  
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container" id="camp-header">
    <div class="col-lg-12">
        <h5>Completed Campaigns</h5>
    </div>
</div>

<div class="container" id="campaing-pics">
    <div class="row">

        <div class="col-lg-4">
            <div class="card" style="opacity: 0.5;">
                <div class="card-body card11">
                    <button class="top-btn">UGC</button>
                    <div class="camp-text">
                        <h4>Snap Supllements Nutrition Tiktok Shop</h4>
                        <span><i class="fa-brands fa-tiktok"></i> Tiktok</span>
                        <p>$500 Payout</p>
                    </div>  
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card" style="opacity: 0.5;">
                <div class="card-body card12">
                    <button class="top-btn">UGC</button>
                    <div class="camp-text">
                        <h4>Pocketfull - AI Video Maker</h4>
                        <span><i class="fa-brands fa-tiktok"></i> Tiktok</span>
                        <p>$520 Payout</p>
                    </div>  
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card" style="opacity: 0.5;">
                <div class="card-body card13">
                    <button class="top-btn">UGC</button>
                    <div class="camp-text">
                        <h4>Virtual Zoom Call</h4>
                        <span><i class="fa-brands fa-instagram"></i> Instagram</span>
                        <p>$200 Payout</p>
                    </div>  
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card" style="opacity: 0.5;">
                <div class="card-body card14">
                    <button class="top-btn">UGC</button>
                    <div class="camp-text">
                        <h4>Viral Song Explosion</h4>
                        <span><i class="fa-brands fa-tiktok"></i> Tiktok</span>
                        <p>$400 Payout</p>
                    </div>  
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card" style="opacity: 0.5;">
                <div class="card-body card15">
                    <button class="top-btn">UGC</button>
                    <div class="camp-text">
                        <h4>Viral Song Explosion (2nd Campaign)</h4>
                        <span><i class="fa-brands fa-tiktok"></i> Tiktok</span>
                        <p>$600 Payout</p>
                    </div>  
                </div>
            </div>
        </div>
    
    </div>
</div>


{% endblock %}