{% extends 'creative/base.html' %}
{% load static %}

{% block content %}


<div class="container" id="pricing-header">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h4>Thecreativepr Pricing</h4>
            <p>Simple pricing for teams of all sizes</p>

            <div>
                <button type="button" class="pricing-btn">MONTHLY</button>
                <button type="button" class="pricing-btn">YEARLY (50% OFF)</button>
            </div>
        </div>
    </div>
</div>

<div class="container" id="pricing-list">
    <div class="row">
        <div class="col-lg-3 col-12 d-none d-lg-block">
            <ul class="plans">
                <li>
                    <div>
                        Plans & Features
                    </div>
                </li>
                <li>Campaigns&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <li>Campaign Application&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <li>Marketplace Buy Fee&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <li>Marketplace Credits&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <li>Marketplace Outreach&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <li>Demographics Data&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <li>Sort By Engagement&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <li>Sort By Best Price&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <li>Sort by Success Rate&nbsp;<i class="fa-regular fa-circle-question"></i></li> 
                <li>Filter By Engagement&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <li>Filter By Demographics&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <li>Ratings & Review&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <li>Filter By Channel&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <li>FIlter By Audience&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <li>FIlter By Category&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <li>Support</li>
                
            </ul>
        </div>

        <div class="col-lg-3">
            <ul class="free">
                <li>
                    <div>
                        <span>
                            Free
                        </span>
                    </div>
                </li>
                <span>Campaigns</span>
                <li>Included</li>
                <span>Campaing Applications</span>
                <li>Unlimited</li>
                <span>Marketplace Buy Fee</span>
                <li>10% or 10$&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <span>Marketplace Credits</span>
                <li>3&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <span>Marketplace Outreach</span>
                <li>10&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <li><section><i class="fa-solid fa-xmark"></i></section></li>
                <li><section><i class="fa-solid fa-xmark"></i></section></li>
                <li><section><i class="fa-solid fa-xmark"></i></section></li>
                <li><section><i class="fa-solid fa-xmark"></i></section></li>
                <li><section><i class="fa-solid fa-xmark"></i></section></li>
                <li><section><i class="fa-solid fa-xmark"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <span>Support</span>
                <li>Email</li>
                <li><button class="login-btn">Login</button></li>
            </ul>
        </div>

        <div class="col-lg-3">
            <ul class="startup">
                <li>
                    <div>
                        <p>Startup</p>
                        <span>$49/MONTH</span>
                    </div>
                </li>
                <span>Campaigns</span>
                <li>Included</li>
                <span>Campaing Applications</span>
                <li>Unlimited</li>
                <span>Marketplace Buy Fee</span>
                <li>10% or 10$&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <span>Marketplace Credits</span>
                <li>50&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <span>Marketplace Outreach</span>
                <li>50&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li>Email</li>
                <li><button class="login-btn">Login</button></li>
            </ul>
        </div>

        <div class="col-lg-3">
            <ul class="pro">
                <li>
                    <div>
                        <p>Pro</p>
                        <span>$99/MONTH</span>
                    </div>
                </li>
                <span>Campaigns</span>
                <li>Included</li>
                <span>Campaing Applications</span>
                <li>Unlimited</li>
                <span>Marketplace Buy Fee</span>
                <li>No Fee&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <span>Marketplace Credits</span>
                <li>Unlimited&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <span>Marketplace Outreach</span>
                <li>Unlimited&nbsp;<i class="fa-regular fa-circle-question"></i></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li><section><i class="fa-solid fa-check"></i></section></li>
                <li>Email</li>
                <li><button class="pro-login-btn">Login</button></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid" id="core">
    <div class="row">
        <div class="col-lg-12">
            <h4>Core Features</h4>
        </div>
    </div>
</div>


<div class="container-fluid" id="core-inner">
    <div class="row">

        <div class="col-lg-4">
            <div class="core-text">
                <i class="fa-regular fa-credit-card"></i>
                <p>Guaranteed & Secure Payments</p>
                <span>All funds are held in Thecreativepr until influencers complete your campaign. We make sure influencers adhere to policy and that you are satisfied with their deliverables.</span>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="core-text">
                <i class="fa-solid fa-file-invoice-dollar"></i>
                <p>Transparent Pricing.</p>
                <span>Influencer pricing is available on Thecreativepr upfront. When you see what influencers charge other brands, you don't have to be taken advantage of.</span>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="core-text">
                <i class="fa-solid fa-chart-pie"></i>
                <p>Thecreativepr Score.</p>
                <span>We continuously check influencers for the authenticity of their audience. Our proprietary Thecreativepr Score ranks influencers based on past campaign success and results.</span>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="core-text">
                <i class="fa-solid fa-chart-line"></i>
                <p>Scalable Campaigns.</p>
                <span>We offer the ability to hire multiple influencers at once. Collab with as low as few dollars, and upwards of $10k at a time. 5 to 5000 influencers at once!</span>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="core-text">
                <i class="fa-solid fa-people-group"></i>
                <p>5 Social Media Channels.</p>
                <span>We currently work with all major social media channels including Youtube, TikTok, Facebook, and Twitter.</span>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="core-text">
                <i class="fa-regular fa-chart-bar"></i>
                <p>Tracking & Metrics.</p>
                <span>Post tracking and statistics are available on campaign and individual collab levels. Know exactly which influencer brings the most ROI, and don't waste your budget.</span>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="core-text">
                <i class="fa-regular fa-folder-open"></i>
                <p>Audience Demographics.</p>
                <span>Filter audience by language, country, age, sex, and gender allowing you to choose influencers with audience that match your target market.</span>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="core-text">
                <i class="fa-regular fa-paper-plane"></i>
                <p>Direct Contact.</p>
                <span>Influencers are directly signed up on Thecreativepr. You don't need to deal with unresponsive influencers and chase DMs all day long, just set up your campaigns and schedule it for publishing!</span>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="core-text">
                <i class="fa-solid fa-headphones"></i>
                <p>Friendly Customer Support.</p>
                <span>Our support got your back! It can be tough to deal with influencers and hold them accountable, make sure they post on time, following brief guidelines, etc. we at Thecreativepr do that for you.</span>
            </div>
        </div>

    </div>
</div>


<div class="container" id="small-large">
    <div class="row">
        <div class="col-lg-12">
            <h4>From small to large, over 10,000+ teams used Thecreativepr</h4>
        </div>

        <div class="col-lg-12">
            <img src="{% static 'pictures/pricing.png' %}" alt="Pricing" style="width: 80%; height: 80%;">
        </div>
    </div>
</div>


<div class="container-fluid" id="faqs">
    <div class="row">
        <div class="col-lg-12 text-center" id="faq-header">
            <h4>FAQs</h4>
        </div>

        <div class="col-lg-12">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       What is a Campaign?
                    </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        A campaign is a post that you create on Thecreativepr as a brand, advertising your opportunity. All creators on Thecreativepr will be able to see your campaign and apply to it.
                    </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        What is a Campaign Application?
                    </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                       A Campaign Application is a proposal that a creator sends to you during the application process. It includes their portfolio link, short message, and other info. You can view all of your campaign applications in your Thecreativepr Messenger.
                    </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        What is a Marketplace?
                    </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Thecreativepr Marketplace is a store like platform where you can pick existing creators gigs to work with. You can browse through the marketplace to find creators that match your goals.
                    </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        What payment methods do you accept?
                    </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        We accept all major credit and debit cards such as Visa, Mastercard, American Express, and Discover.
                    </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Can I upgrade at any time?
                    </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Yes! You can upgrade your plan at any time. We will prorate unused access and charges towards your new plan. You will receive credit for the unused portion of your current subscription plan and will be billed only for the remainder of the month for the new plan.
                    </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Can I downgrade at any time?
                    </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Yes! You can downgrade your plan at any time. We will let you use your current plan until the end of your billing cycle, and on your new billing date, you will be switched into the lower plan and billed a lower price.
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}